%div#home

  .table-wrapper
    .table-cell.text-center
      .row.text-left
        .col-xs-6.col-xs-offset-1
          %p Enthusiast programmer and web developer based in Sheffield
    
      %a.arrow.bounce{:href => "#about", class: 'page-scroll'}
        %i.fa.fa-angle-double-down{"aria-hidden" => "true"}

      %div.circle{'style' => 'width: 500px; height: 500px; left: -200px; top: -50px'}

      %div.circle{'style' => 'width: 350px; height: 350px; left: 170px; bottom: -230px'}

      %div.circle.hidden-xs{'style' => 'width: 150px; height: 150px; right: 250px; top: -10px'}

      %div.circle.hidden-xs{'style' => 'width: 180px; height: 180px; right: 180px; bottom: 280px'}
      %div.circle.hidden-xs{'style' => 'width: 400px; height: 400px; right: -150px; bottom: 30px'}

%div#about.features
  .row
    .col-sm-6.hidden-xs.feature-title.text-center
      .left-title  
        %p About
    .col-sm-6.col-xs-12.feature-detail
      %h1.visible-xs.text-center About
      %p I am studying for an MSc (Eng) Advanced Software Engineering at the University of Sheffield at the moment. As part of my study, I have the opportunity to work in a student-run software company that provides custom web applications for a variety of customers. Through this course, I can learn something new and hone my skills to become a better software developer.

%div#skills.features
  .row
    .col-sm-6.hidden-xs.feature-title.text-center
      %div.left-title
        %p 
          Skills
          = fa_icon('code', class: 'fa-lg')
    .col-sm-6.col-xs-12.feature-detail
      %h1.visible-xs.text-center 
        Skills
        = fa_icon('code', class: 'fa-lg')

      %h4 WEB TECHNOLOGIES
      - @webtech_skills.each do |item|
        %span.skills= item 
      %br/

      %h4 COMPILED LANGUAGES
      - @native_skills.each do |item|
        %span.skills= item 
      %br/

      %h4 VERSION CONTROL
      - @version_skills.each do |item|
        %span.skills= item 
      %br/

      %h4 CROSS-PLATFORM TOOLS
      %span.skills PhoneGap
      %br/

      %h4 DESIGN & PROTOTYPE
      %span.skills Moqups
      %br/

      %h4 DATABASE
      %span.skills MySQL

%div#projects.features
  %div.wrapper
    .row
      %br/
      %h1.text-center.title PROJECTS
      %br/
      .col-sm-6.col-xs-12
        .thumbnail{'style' => 'background: #71948a;'}
          =image_tag("gallerysite.png", alt: "Project 1", class: "img-responsive logo")
        .caption
          %b Gallery Viewer
          is an e-commerce website dedicated for selling pictures/photos of scenery. It is a solo
          project and created to fill my spare time. This website has an admin feature where the user 
          can modify several pages of the website.
          %p
          %p
            %b Project Repository on Github: 
            = link_to 'https://github.com/Christian-007/gallery-website', target: :_blank do
              https://github.com/Christian-007/gallery-website

      .col-sm-6.col-xs-12
        .thumbnail{'style' => 'background: #78b3a3;'}
          =image_tag("projectacq.png", alt: "Project 2", class: "img-responsive logo")
        .caption
          %b Project Acquisition Application
          is a Ruby on Rails web application that can handle project submission from clients to module leaders registered in University of Sheffield. This is a part of Training Project of epiGenesys, 
          a student-led software development organisation in Sheffield (
          %a{:href => 'https://www.epigenesys.org.uk/', target: :_blank} epiGenesys website
          )

    .row
      .col-xs-12
        / %a{:href => "", 'data-toggle' => "modal", 'data-target' => "#modalPicture", class: "ajax-modal"}
        / = link_to home_path(id: 1), class: 'ajax-modal', 'data-toggle': 'ajax-modal' do
        .thumbnail{'style' => 'background: #79a4c3;'}
          =image_tag("liftlog_compressed.png", alt: "Project 3", class: "img-responsive logo")
        .caption
          %b LiftLog
          is a pair project of the module Software Development for Mobile Devices (COM6510) from University of Sheffield. This is an iOS application
          focusing on a workout tracking. It can create daily workout routines,  add exercises to the routines, and store workout sets and repetitions for each exercise. On top of that, the users can get recent workout news/articles, which are retained from RSS of  a certain body building website. This app also implements a map that can show nearby gyms based on current user's location.
          %p
          %p
            %b Project Repository on Github: 
            = link_to 'https://github.com/Christian-007/iOSProject', target: :_blank do
              https://github.com/Christian-007/iOSProject

    .row
      .col-xs-12
        .thumbnail{'style' => 'background: #4DD0E1;'}
          =image_tag("tardis.png", alt: "TaRDIS", class: "img-responsive logo")
        .caption
          %b Time and Resourcing Data Information System (TaRDIS)
          is a Ruby on Rails web application that can assist Clinical Trials Research Unit (CTRU) of University of
          Sheffield in Data Management process. It will manage the Data Management process, such as managing Studies, Tasks, and the time spent on each task by staff efficiently. These are handled by using sort of a Gantt chart
          application on the web with added features, such as add people to tasks and time management report. The Gantt
          chart itself is created manually (not using any Gantt Chart API) by utilising some of Bootstrap features to generate columns, combined with Ruby on Rails controllers and Active Record. This project is still under development and a part of Genesys 2 module of University of Sheffield.

%div#footer
  %div.container
    .row
      .col-md-4
        %h4 CODED BY
        %p Christian Ing Sunardi
        %br/
      .col-md-4
        %h4 DESIGNED BY
        %p Theresia Ing Sunardi
        %br/
      .col-md-4
        %h4 CONNECT
        %p
          = link_to 'https://github.com/Christian-007', target: :_blank do
            = fa_icon('github') 
            Github 
        %p 
          = link_to 'https://linkedin.com/in/christian-ing-sunardi-20b03a12b', target: :_blank do
            = fa_icon('linkedin')
            LinkedIn
        %p 
          = mail_to 'christianingsunardi@gmail.com' do
            = fa_icon('envelope')
            Email
        %br/
    .row
      .col-xs-12 &copy; 2017 Christian Ing Sunardi
   
  / %table
  /   %thead
  /     %tr
  /       %th
  /       %th
  /       %th

  /   %tbody
  /     - @homes.each do |home|
  /       %tr
  /         %td= link_to 'Show', home
  /         %td= link_to 'Edit', edit_home_path(home)
  /         %td= link_to 'Destroy', home, :method => :delete, :data => { :confirm => 'Are you sure?' }

  / %br

  / = link_to 'New Home', new_home_path
